table,
td,
th,
tr {
  border: 1px solid black;
  border-collapse: collapse;
}

#table-container {
  margin: 20px 10%;
}

table {
  width: 100%;
}

.index-col {
  width: 30px;
}

.title-col {
  width: max-content;
}

.date-col {
  width: 100px;
}

tr:hover {
  font-weight: 700;
}

select {
  padding: 5px;
  border: 2px solid #99c57c;
}